# Klasifikasi Bunga Iris

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
df = pd.read_csv("datasets/iris.csv")
df.drop('Id', axis=1, inplace=True)

In [3]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## Scaling dan Labeling Atribut

In [4]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()

df.iloc[:, :-1] = std_scaler.fit_transform(df.iloc[:, :-1])
df.Species = label_enc.fit_transform(df.Species)

In [5]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      -0.900681      1.032057      -1.341272     -1.312977        0
1      -1.143017     -0.124958      -1.341272     -1.312977        0
2      -1.385353      0.337848      -1.398138     -1.312977        0
3      -1.506521      0.106445      -1.284407     -1.312977        0
4      -1.021849      1.263460      -1.341272     -1.312977        0

In [6]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

## Training Model

In [7]:
log_regr = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = log_regr.fit(X_train, y_train)

In [8]:
accuracy = model.score(X_test, y_test)

In [9]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 97.36842105263158%

## Menyimpan Model dan Scaler

In [10]:
joblib.dump((model, std_scaler), "iris-classification-using-logistic-regression.pkl")

['iris-classification-using-logistic-regression.pkl']